[data-badge] {
    position: relative;

    &:after {
        content: attr(data-badge);
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        top: -11px;
        right: -11px;
        width: 22px;
        height: 22px;
        text-transform: none;
        font-weight: var(--font-normal);
        border-radius: 50%;
        background: var(--primary);
        color: #fff !important;
        font-size: 11px;
    }
}

.icon[data-badge]:after {
    top: -6px;
    right: -6px;
}

@each $state, $color in $states {
    .#{$state}-badge[data-badge]:after {
        background: $color;
    }
}