.card {
    background: var(--background);
    border-radius: var(--radius);
    padding: var(--padding);
    margin-bottom: var(--gutter);
    position: relative;
    box-shadow: var(--shadow-2dp);

    &.component {
        padding: 0;
    }

    > hr {
        margin-left: calc(-1 * var(--padding));
        margin-right: calc(-1 * var(--padding));
    }

    > .toolbar {
        margin-top: calc(-1 * var(--padding));
        margin-left: calc(-1 * var(--padding));
        margin-right: calc(-1 * var(--padding));
        border-radius: var(--radius) var(--radius) 0 0;
    }

    > .list {
        margin: 0 calc(-1 * var(--padding));
    }
}