details {
    > summary {
        display: flex;
        align-items: center;
        cursor: pointer;
        &::-webkit-details-marker {
            display: none;
        }

        &:after {
            content: 'expand_more';
            margin-left: auto;
            @include icon;
            transition: 0.2s ease-in-out;
        }

        + * {
            margin-top: 13px;
        }
    }

    &[open] summary:after {
        transform: rotateX(180deg);
    }
}