html {
    height:100vh;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

#header {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--background);
    color: var(--color);
    box-shadow: var(--shadow-2dp);
    height: var(--toolbar);
    padding: 0 calc(var(--gutter) / 2) 0 0;
    overflow: hidden;

    > .title {
        flex-grow: 1;
        font-size: 20px;
        line-height: 1;

        @media #{$xl} {
            padding-left: var(--gutter);
        }
    }
}

#drawer-button {
    height: var(--toolbar) !important;
    width: var(--toolbar) !important;

    @media #{$xl} {
        display: none;
    }

    &:hover, &:focus {
        background: transparent;
    }
}

#main {
    position: relative;
    min-height: 100vh;
    padding: calc(var(--gutter) + var(--toolbar)) var(--gutter) var(--gutter);

    @media #{$xl} {
        margin-left: var(--drawer);
    }
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: var(--gutter);

    > h1, > h2, > h3, > .title {
        margin-bottom: 0;
        flex: 1 1 auto;
    }

    > .actions {
        display: flex;
        align-items: center;
    }
}

