.list {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    border-radius: 2px;

    > * {
        padding: 13px 24px;
    }

    > hr {
        padding: 0 !important;
    }

    &.dense {
        padding: 4px 0;
        font-size: 13px;

        > * {
            display: flex;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    &.divided {
        > * {
            border-top: 1px solid $grey-lighter;
            &:first-child {
                border-top: none;
            }
        }
    }
}

.card > .list {
    margin-left: -24px;
    margin-right: -24px;
}