.list {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    border-radius: var(--radius);

    > * {
        display: flex;
        padding: 13px var(--padding);
    }

    > hr {
        padding: 0 !important;
    }

    &.dense {
        padding: 4px 0;
        font-size: 13px;

        > * {
            padding: 8px var(--padding);
        }
    }

    &.divided {
        > * {
            border-top: 1px solid var(--lighter);
            &:first-child {
                border-top: none;
            }
        }
    }

    &.resource {
        > * {
            border-top: 1px solid var(--lighter);
            &:first-child {
                border-top: none;
            }

            &:hover, &:focus {
                background: var(--focus);
            }

            text-decoration: none;
            color: var(--color);
        }
    }
}

.card > .list {
    margin-left: -24px;
    margin-right: -24px;
}