.menu {
    > a, >.link {
        background: #fff;
        display: block;
        text-align: left;
        border: none;
        color: $text;
        font-size: inherit;
        font-family: inherit;
        width: 100%;

        &:hover, &:focus {
            color: $primary;
        }
    }
}