.menu {
    > a, >.link, > button {
        background: #fff;
        display: block;
        text-align: left;
        border: none;
        color: $text;
        font-weight: $font-normal;
        font-size: inherit;
        font-family: inherit;
        text-transform: none;
        width: 100%;
        height: auto;
        padding: 4px 16px !important;
        margin: 0;
        border-radius: 0 !important;

        &:hover, &:focus {
            background: $grey-lightest;
        }
    }
}