table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 8px 16px;
    text-align: left;
    vertical-align: top;

    &.right {
        text-align: right;
    }
}

td {
    border-top: 1px solid $divider;
}

thead th {
    vertical-align: bottom;
    border-bottom: 1px solid $divider;
}

tbody tr:hover {
    background: $grey-lighter !important;
}

table.striped {
    tbody > tr:nth-child(odd) {
        background: #f9f9f9;
    }
}

table.no-border {
    border: none;
    td {
        border: none;
    }
}

td:first-child, th:first-child {
    padding-left: 24px;
}

td:last-child, th:last-child {
    padding-right: 24px;
}

.responsive {
    overflow-x: auto;
}

.card > table {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;

}