.toolbar {
    display: flex;
    align-items: center;
    padding: var(--padding);

    h1, h2, h3, h4 {
        margin: 0;
    }

    @each $state, $color in $states {
        &.#{$state} {
            background: $color;
            color: #fff;
            margin-bottom: var(--padding);
        }
    }

    > .actions {
        flex-grow: 1;
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
    }
}