$phone: "all and (max-width : calc(var(--tablet) - 1px))";
$mobile: "all and (max-width : calc(var(--desktop) - 1px))";
$tablet: "all and (min-width : var(--tablet))";
$desktop: "all and (min-width : var(--desktop))";
$xl: "all and (min-width : var(--xl))";

$states: (
        primary: var(--primary),
        success: var(--success),
        info: var(--info),
        warning: var(--warning),
        danger: var(--danger)
);
